{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Receipt</title>
    <link rel="stylesheet" href="{% static 'pos/style.css' %}">
</head>
<body>
        <div class="receipt">
            <h1>Sales Receipt</h1>
            <p>Product: {{ sale.product.name }}</p>
            <p>Quantity: {{ sale.quantity|default_if_none:"0" }}</p>
            <p>Price per unit: ${{ sale.product.price }}</p>
            <p>Total: ${{ total_price }}</p>
            <p>Date: {{ sale.date }}</p>
            <button onclick="window.print()" class="button">Print</button>
        </div>
</body>
</html>
