/* Add your custom styles here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: white; 
    background-image: url("../pos/images/background.jpg");

}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #c11919;
}

th {
    background-color: #127aeb;
}

tr:hover {
    background-color: whitesmoke;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #f44444;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    background-color: #07055d;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #dd4d78;
}
